body {
    background: #e8eceb;
    font-family: sans-serif;
    margin: 0;
}

/* cabecera */
header{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1150px;
    padding: 0px;
}

.cabecera{
    display: flex;
    align-items: center;
    margin: 0px;
}

.cabecera > h1{
    color: #e09e50;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 1px #2d3e4e;
}

.logo{
    display: block;
    margin-right: 5px;
}

.borde{
    border: 1px solid green;
}

.sesion{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.login {
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px 2px;
    font-weight: 300;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    width: 100px;
    text-decoration: none;
    max-height: 30px;
    text-align: center;
}
.login:hover, .login:focus {
    background: #179b77;
    color: #ffffff; 
}

.usuario{
    margin-right: 7px;
    font-size: 1.15em;
    padding: 4px 10px;
    background-color: #8cbdb9;
    color: #2d3e4e;
    border-radius: 5px !important;
    width: 90px;
    text-align: center;
}


/*menu de navegación*/
nav{
    margin: 5px auto;
    top: 1px;
    width:100%;
    position: sticky;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.menu_bar {
    display:none;
}

nav.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e09e50;
    box-shadow: 4px 2px 5px 0px rgba(45,62,78,1);

} 

nav ul li{
    text-align: center;
    background-color: #e09e50;
}

nav.menu ul li a {
    display: block;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
nav.menu ul li a:hover {
    background-color: #2d3e4e;
    color: white;
}

.toggler{
    display: block;
}

.botoncerrar {
    border-radius: 4px;
    margin-left: 7px;
    padding: 7px 0;
    font-weight: 400;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-overflow:ellipsis;
    width: 130px;
    min-width: 130px;

}
.botoncerrar:hover, .boton:focus {
    background: #179b77;
    color: #ffffff;
}

/* cuerpo de la página*/
main{
    margin: 0px auto;
    max-width: 1150px;
}

.titulo-main{
    background-color: #2d3e4e;
    color: #dfac6e;
    font-size: 2.5rem;
    text-align: center;
}

.fondo-anaranjado{
    background-color: #e09e50;
}

.fondo-anaranjado:hover{
    background-color: #a96716;
}

.descripcion{
    width: 100%;
    background-color: #c7d5d1;
    border-radius: 4px;
    padding-left: 5px;
    color: #2d3e4e;
}

.sinpadding{
    padding: 0;
}

.sinmargen{
    margin:0;
}


/*Estilo de las tablas y listas*/

.iconolista{
    width: 90px;
}

/*Estilos de texto*/

.textshadow{
    text-shadow: 2px 2px 2px #157158;
    font-size: 3em;
}

/* animación formulario que aparece*/

.oculto{
    display: none;
}

.visible{
    display: block;
}

/*estilo de las tarjetas de index*/
.tarjeta{
    cursor: pointer !important;
}

.tarjeta:hover{
    background-color: #2d3e4e;
}

/*Estilo para el footer*/
footer{
    margin-top: 15px;
    background-color: #2d3e4e;
    color: #dfac6e;
    font-size: 1.5rem;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h6{
    margin: auto;
}


@media (max-width: 650px) {
    header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0px 10%;
    }

    .sesion{
        margin-top: 10px;
    }

    /*Menu de navegación*/

    nav.menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        right:100%;
        margin: 0;
        overflow: scroll;
    }

    nav ul li{
        text-align: center;
        background-color: #e09e50;
        border-bottom: 1px #6c410c solid;

    }
    
    .toggler{
        display: none;
    }

    .menu_bar {
        display:block;
        margin-top: 10px;
        width:100%;
        /*background:#E6344A;*/
        background: #ca9350;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 10px;
        color: #fff;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}
